In [6]:
from vnstock import Quote
from vnstock import Trading

In [8]:
quote = Quote(symbol='VNINDEX', source='VCI')
trading = Trading(symbol="VNINDEX", source="VCI")

# TRADING PRICE

In [9]:
trading.price_board(symbols_list=['VNINDEX'])

   listing        bid_ask                     match                        \
    symbol   type    type bid_count ask_count  type match_price match_vol
0  VNINDEX  INDEX    None         0         0  None           0         0

                                                                           \
  highest lowest foreign_buy_volume foreign_sell_volume foreign_buy_value
0       0      0                  0                   0                 0

                                                                \
  foreign_sell_value reference_price ceiling_price floor_price
0                  0               0             0           0


  accumulated_volume
0                  0

# HISTORY

In [ ]:
df = quote.history(start='2021-12-01', end='2026-01-21')

In [5]:
df

           time     open     high      low    close      volume
0    2021-09-22  1339.84  1350.71  1336.63  1350.68   707468700
1    2021-09-23  1350.68  1361.09  1350.43  1352.76   941137100
2    2021-09-24  1352.76  1356.97  1348.07  1351.17   613583200
3    2021-09-27  1351.17  1354.38  1324.99  1324.99   704752900
4    2021-09-28  1324.99  1341.81  1316.41  1339.31   569826500
...         ...      ...      ...      ...      ...         ...
1078 2026-01-15  1883.70  1884.19  1845.95  1864.80  1237786766
1079 2026-01-16  1875.14  1901.22  1874.60  1879.13  1021323506
1080 2026-01-19  1894.67  1898.24  1874.69  1896.59  1163188480
1081 2026-01-20  1904.58  1915.11  1884.60  1893.78  1078094824
1082 2026-01-21  1876.96  1894.22  1859.25  1885.44  1204631813

[1083 rows x 6 columns]